@media (max-width:60em) {
    /* body {
        font-size: 90%;
    } */

    .math-item {
        width: 100%;
        height: 100%;

        border: none;
        border-radius: 0;
    }

    form {
        margin-top: 2rem;
    }

    .correct-btn {
        width: 10rem;
        height: 4rem;
    }

    .correct {
        padding-top: 1rem;
        font-size: 3rem;

    }
    

}
