@media (max-width:60em) {
    /* body {
        font-size: 90%;
    } */

    h1 {
        padding-top:4rem;
    }

    .math-item {
        width: 100%;
        height: 100%;

        border-width: 1rem;
        border-radius: 0rem;
    }

    form {
        margin-top: 2rem;
    }

    .correct-btn {
        width: 10rem;
        height: 4rem;
    }

    .correct {
        padding-top: 0rem;
        font-size: 1.5rem;

    }

    footer {
        padding-bottom: 2rem;
    }
    

}
