* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Bubblegum Sans', cursive;

    text-shadow: .5px 1px 5px #0f0f0f55;    
}
html {
    height: 100%;
}

body {
    background: #d6d6d6;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.width {
    width: 100%;
}

.center {
    align-items: center;
    justify-content: center;
}

.math-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
} 

h1 {
    font-size: 2rem;

    color: #FFF8F0;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p {
    font-size: 3rem;
    padding-left: .5rem;

    color: #FFF8F0;

    transition: all .5s ease;
}

p:first-child {
    padding-left: 0;
}

a {
    color: #011627;
    padding-left: .3rem;
}

i {
    font-size: 1.2rem;
}

.math-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 25rem;
    height: 35rem;

    padding: 0rem 0rem 2rem 0rem;

    border: .5rem rgb(253, 253, 253) solid;
    border-radius: 15px;

    background: #FF9F1C;

    transition: all .5s ease;

    overflow: hidden;

    box-shadow: 1px 1px 5px #0f0f0f55;
}

.mathFunction {
    width: 100%;
    height: 5rem;
    justify-content: space-around;
    text-align: center;
}

.addition {
    width: 100%;
    background-color: #FF9F1C;
}

.minus {
    width: 100%;
    background-color: #79A6FA;
}

.multiply {
    width: 100%;
    background-color: #008000;

}

.item-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.user-input {
    width: 6rem;

    font-size: 3rem;
    text-align: center;

    margin-left: .5rem;
    padding: .2rem 0 .2rem 0;

    border: none;

    border-radius: 10px;

    outline: none;

    transition: all .5s ease;
    
    box-shadow: 1px 1px 5px #0f0f0f55;
    text-shadow: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;

    padding: 1rem .5rem;

    transition: all .5s ease;
}

.correct-btn {
    justify-content: center;

    width: 8rem;
    height: 3rem;

    color: #011627;
    background: #FFF8F0;

    font-size: 1.5rem;

    border: none;

    border-radius: 5px;

    outline: none;

    translate: all .3s ease;

    box-shadow: 1px 1px 5px #0f0f0f55;
}

.new {
    text-align: center;
    display: none;
}

.correct {
    text-align: center;
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;

    transition: all .5s ease;
}

.rightwrong {
    padding-top: 1rem;
    width: 15rem;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.rightwrong p {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.reset {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 15rem;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.reset p {
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.correct-background {
 background-color: #7FB069;
}

.wrong-background {
    background-color: #FF0000;
    transition: background 0.5s ease-in-out;
}

footer {
    position: fixed;
    bottom: .5rem;
    left: 0;
    right: 0;

    text-align: center;
}

span {
    text-shadow: none;
}

.fa-envelope {
    text-shadow: none;
}

